Repository Seunghwan-You/terraform-atlantis-demo: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, prod

atlantis.yaml:

version: 3
projects:
  - name: dev
    dir: environments/dev
    apply_requirements: [approved]
    autoplan:
      when_modified: ["**/*.tf", "**/*.tfvars", "../../modules/**/*.tf"]
      enabled: true
  - name: prod
    dir: environments/prod
    apply_requirements: [approved]
    autoplan:
      when_modified: ["**/*.tf", "**/*.tfvars", "../../modules/**/*.tf"]
      enabled: true

아틀란티스_가이드_수정5
  README.md
Due: none

아틀란티스_가이드_수정5
  environments/dev/main.tf
  environments/dev/terraform.tfvars
  environments/dev/variables.tf
  environments/prod/main.tf
  environments/prod/terraform.tfvars
  environments/prod/variables.tf
  modules/vm/main.tf
  modules/vm/variables.tf
Due: dev, prod

아틀란티스_가이드_수정7
  environments/dev/main.tf
  environments/prod/main.tf
Due: dev, prod

feat: Add initial infrastructure configuration
  environments/dev/variables.tf
Due: dev

feat: Add initial infrastructure configuration
  environments/dev/terraform.tfvars
Due: dev

feat: Add comprehensive tags to VM resources
  environments/dev/terraform.tfvars
Due: dev
