Repository Seunghwan-You/terraform-atlantis-demo: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, prod

atlantis.yaml:

version: 3
projects:
  - name: dev
    dir: environments/dev
    autoplan:
      when_modified: ["../modules/**/*.tf", "**/*.tf"]
      enabled: true
    workflow: terraform
  - name: prod
    dir: environments/prod
    autoplan:
      when_modified: ["../modules/**/*.tf", "**/*.tf"]
      enabled: true
    workflow: terraform
workflows:
  terraform:
    plan:
      steps:
        - init
        - plan
    apply:
      steps:
        - apply

vmadd
  environments/dev/terraform.tfvars
Due: none

backend_수정
  environments/dev/main.tf
  environments/prod/main.tf
Due: dev, prod

backend_수정
  atlantis.yaml
Due: none

backend_수정
  environments/prod/terraform.tfvars
Due: none

backend_수정
  environments/dev/terraform.tfvars
  environments/prod/terraform.tfvars
Due: none

리소스 삭제
  environments/dev/main.tf
Due: dev

리소스 삭제2
  environments/dev/main.tf
Due: dev

atlantis_yaml수정
  atlantis.yaml
Due: none

dev_배포테스트
  environments/dev/main.tf
  environments/prod/main.tf
Due: dev, prod

dev_배포테스트2
  environments/dev/main.tf
Due: dev

dev_배포테스트3
  atlantis.yaml
Due: none

dev_배포테스트4
  environments/prod/main.tf
Due: prod

dev_배포테스트5
  atlantis.yaml
Due: none

dev_배포테스트6
  environments/prod/main.tf
Due: prod

dev_배포테스트7
  atlantis.yaml
Due: none

dev_배포테스트9
  environments/prod/main.tf
Due: prod

dev_배포테스트10
  environments/dev/main.tf
Due: dev

dev_배포테스트11
  atlantis.yaml
Due: none

dev_배포테스트12
  atlantis.yaml
Due: none

dev_배포테스트13
  atlantis.yaml
  environments/dev/main.tf
Due: dev

dev_배포테스트14
  environments/dev/main.tf
  environments/prod/main.tf
Due: dev, prod

dev_배포테스트15
  environments/dev/main.tf
Due: dev

dev_배포테스트16
  environments/dev/main.tf
Due: dev

dev_배포테스트17
  atlantis.yaml
Due: none

dev_배포테스트18
  environments/dev/main.tf
Due: dev

dev_배포테스트19
  atlantis.yaml
Due: none

dev_배포테스트20
  environments/dev/main.tf
Due: dev

dev_배포테스트21
  environments/dev/main.tf
Due: dev

테라폼_샘프코드_최종수정본
  README.md
  environments/dev/main.tf
  environments/dev/terraform.tfvars
  environments/prod/main.tf
  environments/prod/terraform.tfvars
Due: dev, prod

테라폼_샘플코드_수정
  README.md
Due: none

Delete environments/prod/.terraform.lock.hcl
  environments/prod/.terraform.lock.hcl
Due: none

Delete environments/dev/.terraform.lock.hcl
  environments/dev/.terraform.lock.hcl
Due: none

아틀란티스_가이드_수정3
  README.md
  environments/dev/terraform.tfvars
  environments/prod/terraform.tfvars
Due: none

아틀란티스_가이드_수정4
  environments/dev/main.tf
  environments/prod/main.tf
Due: dev, prod

아틀란티스_가이드_수정5
  environments/dev/main.tf
Due: dev

아틀란티스_가이드_수정5
  environments/dev/terraform.tfvars
  environments/prod/terraform.tfvars
Due: none

아틀란티스_가이드_수정5
  environments/dev/main.tf
  environments/dev/terraform.tfvars
  environments/prod/main.tf
  environments/prod/terraform.tfvars
Due: dev, prod
